/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 3, 2024, 1:05:53 AM
    Author     : fretz
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    background-color: #C2D7EA;
    font-family: 'Poppins';
}

.add-form {
    padding: 0 11%;
    margin: 45px auto;
}

form {
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.add-form p {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/*****tabs*****/
.tab-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.tab-container input[type="radio"] {
    display: none;
}

.tab-container label[for="student-information"],
.tab-container label[for="health-related-test"],
.tab-container label[for="skill-related-test"] {
    background: #C2D7EA;
    width: 205px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.tab-container .tab {
    color: black;
    width: 100%;
    order: 1;
    display: none;
}

.tab-container input[type='radio']:checked+label+.tab {
    display: block;
}

.tab-container input[type="radio"]:checked+label {
    background: #0679E2;
}


/*****table*****/
table {
    margin-top: 10px;
    text-align: left;
}

table label {
    font-size: 12px;
}

input[name="name"] {
    width: 445px;
    padding: 10px;
}

input[type="date"] {
    width: 130px;
    padding: 9px;
}

input[name="age"] {
    width: 130px;
    padding: 10px;
}

input[name="weight"],
input[name="height"] {
    width: 128px;
    padding: 10px;
}

select {
    width: 150px;
    padding: 10px;
}

select[name="nutritionalstatus"],
select[name="heightforage"] {
    width: 215px;
}


/*****health / skill related tabs*****/
label[for="category"] {
    color: #133A84;
    font-size: 16px;
    font-weight: bold;
}

label[for="HRbefore"],
label[for="HRafter"],
label[for="zipperL"],
label[for="zipperR"],
label[for="sar1"],
label[for="sar2"] {
    font-size: 12px;
    font-weight: lighter;
}

input[name="HRbefore"],
input[name="HRafter"],
input[name="zipperL"],
input[name="zipperR"],
input[name="pushups"],
input[name="plank"],
input[name="sar1"],
input[name="sar2"] {
    padding: 10px;
}


/*****buttons*****/
.button-container {
    padding: 0 25px;
}

input[type="submit"] {
    color: white;
    width: 100px;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

input[name="save"] {
    background-color: #0679E2;
    transition: all 400ms ease-in-out;
}

input[name="save"]:hover {
    background-color: #133A84;
}

input[name="cancel"] {
    background-color: #FE6F5F;
    transition: all 400ms ease-in-out;
}

input[name="cancel"]:hover {
    background-color: #c02615;
}