/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 3, 2024, 1:05:53 AM
    Author     : fretz
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

body {
    background-color: #C2D7EA;
    font-family: 'Poppins';
}

.add-form {
    padding: 0 11%;
    margin: 45px auto;
}

form {
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.add-form p {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

/*****tabs*****/
.tab-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.tab-container input[type="radio"] {
    display: none;
}

.tab-container label[for="student-information"],
.tab-container label[for="tabsilver"],
.tab-container label[for="tabgold"] {
    background: #C2D7EA;
    width: 205px;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.tab-container .tab {
    color: black;
    width: 100%;
    order: 1;
    display: none;
}

.tab-flex {
    display: flex;
}

.tab-container input[type='radio']:checked+label+.tab {
    display: block;
}

.tab-container input[type="radio"]:checked+label {
    background: #0679E2;
}