/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 3, 2024, 1:05:53 AM
    Author     : fretz
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    background-color: #C2D7EA;
    font-family: 'Poppins';
}

form {
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}


/*****table*****/
.add-students-table {
    margin-top: 10px;
    text-align: left;
}

.add-students-table label {
    font-size: 12px;
}

input[name="name"] {
    width: 445px;
    padding: 10px;
}

input[type="date"] {
    width: 130px;
    padding: 9px;
}

input[name="age"] {
    width: 130px;
    padding: 10px;
}

input[name="weight"],
input[name="height"] {
    width: 128px;
    padding: 10px;
}

select {
    width: 150px;
    padding: 10px;
}

select[name="nutritionalstatus"],
select[name="heightforage"] {
    width: 215px;
}


/*****health / skill related tabs*****/
label[for="category"] {
    color: #133A84;
    font-size: 16px;
    font-weight: bold;
}

label[for="HRbefore"],
label[for="HRafter"],
label[for="zipperL"],
label[for="zipperR"],
label[for="sar1"],
label[for="sar2"],
label[for="slj1"],
label[for="slj2"],
label[for="clockwise"],
label[for="hexcounter"],
label[for="storkleft"],
label[for="storkright"],
label[for="stick1"],
label[for="stick2"],
label[for="stick3"] {
    font-size: 12px;
    font-weight: lighter;
}

input[name="HRbefore"],
input[name="HRafter"],
input[name="zipperL"],
input[name="zipperR"],
input[name="pushups"],
input[name="plank"],
input[name="sar1"],
input[name="sar2"],
input[name="juggling"],
input[name="slj1"],
input[name="slj2"],
input[name="hexclock"],
input[name="hexcounter"],
input[name="storkleft"],
input[name="storkright"],
input[name="sprinttime"],
input[name="stick1"],
input[name="stick2"],
input[name="stick3"] {
    padding: 10px;
}

input[name="HRbefore"],
input[name="HRafter"],
input[name="stick1"],
input[name="stick2"],
input[name="stick3"] {
    width: 86%;
}

/*****buttons*****/
.button-container {
    margin-top: 20px;
    float: right;
}

input[type="submit"],
.next,
.previous {
    color: white;
    width: 100px;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
}

input[name="save"],
.next {
    background-color: #0679E2;
    transition: all 400ms ease-in-out;
}

input[name="save"]:hover,
.next:hover {
    background-color: #133A84;
}

.previous {
    background-color: #FE6F5F;
    transition: all 400ms ease-in-out;
}

.previous:hover {
    background-color: #c02615;
}

/*****modal*****/
.modal {
    margin-top: 7.5vh;
    width: 100%;
    height: 100%;
}

.modal-content {
    width: 65%;
    margin: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

/*inside modal*/
.tabs {
    display: flex;
    justify-content: space-between;
}

.tab {
    color: #0679E2;
    padding: 10px 20px;
    font-weight: bold;
}

.progress-bar {
    height: 5px;
    background-color: #0679E2;
    width: 0;
    transition: 0.5s ease;
}

.content {
    margin-top: 20px;
    height: 400px;
    overflow-y: auto;
}