/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 4:15:23 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    background-color: #C2D7EA;
    font-family: 'Poppins';
}

.content {
    padding: 2.5vw;
    margin: 5% auto;
    width: 80vw;
    height: auto;
    background-color: antiquewhite;
    border: 2px solid black;
}

.container {
    padding: 1.5vw;
    margin: 2.5vw;
    border: 2px solid black;
}

.sections {
    display: flex;
    justify-content: space-evenly;
}

.counts {
    margin: 2.5vw;
    padding: 0.5vw;
    width: 20vw;
    border: 2px solid black;
}