/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 4:15:23 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    background-color: #C2D7EA;
    font-family: 'Poppins';
}

main {
    padding: 0 11%;
    margin: 45px auto;
}

.container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #133A84;
}

select {
    color: gray;
    padding: 10px;
    border-radius: 5px;
}

.sections {
    display: flex;
    justify-content: space-evenly;
}

.count-total-students,
.count-physically-fit,
.count-not-physically-fit {
    color: white;
    margin: 2.5vw;
    padding: 0.5vw;
    width: 20vw;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.count-total-students {
    background: linear-gradient(to bottom right, #4fb173, #4CAF50);

}

.count-physically-fit {
    background: linear-gradient(to bottom right, #c776bf, #ce11a5);
}

.count-not-physically-fit {
    background: linear-gradient(to bottom right, #d5c56a, #cfc20d);
}