/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 4:15:23 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    background-color: #C2D7EA;
    font-family: 'Poppins';
}