/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 4:15:23 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    background-color: #C2D7EA;
    font-family: 'Poppins';
}

.content {
    padding: 0 11%;
    margin: 45px auto;
}

.student-list {
    width: 100%;
}

.filter-content {
    margin-bottom: 2.5%;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.filter select {
    color: grey;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
}

input {
    padding: 0 30px;
    width: 30%;
    border-radius: 2px;
    border: none;
    font-weight: bold;
}

span {
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px;
}

.add-student {
    background-color: #0679E2;
    color: white;
    margin-bottom: 10px;
    height: 50px;
    padding: 0 30px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    transition: all 400ms ease-in-out;
    cursor: pointer;
}

.add-student:hover {
    background-color: #133A84;
}

table {
    width: 100%;
}

table.rounded-corners th {
    background: #27A655;
    color: white;
    padding: 10px;
}

table.rounded-corners td {
    background: #ffffff;
    color: grey;
    padding: 10px;
}

table.rounded-corners {
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;
}

table.rounded-corners th:not(:last-child),
table.rounded-corners td:not(:last-child) {
    border-right: var(--border);
}

table.rounded-corners>thead>tr:not(:last-child)>th,
table.rounded-corners>thead>tr:not(:last-child)>td,
table.rounded-corners>tbody>tr:not(:last-child)>th,
table.rounded-corners>tbody>tr:not(:last-child)>td,
table.rounded-corners>tfoot>tr:not(:last-child)>th,
table.rounded-corners>tfoot>tr:not(:last-child)>td,
table.rounded-corners>tr:not(:last-child)>td,
table.rounded-corners>tr:not(:last-child)>th,
table.rounded-corners>thead:not(:last-child),
table.rounded-corners>tbody:not(:last-child),
table.rounded-corners>tfoot:not(:last-child) {
    border-bottom: var(--border);
}