/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 3:59:19 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");

body{
    margin: 0 auto;
    font-family: Jura;
}
nav{
    width: 100%;
    height: 75px;
    background-color: #40cfff;
    border: 3px solid rgba(25 87 208 / 0.20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5%;
}
nav div{
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.logo{
    width: 75px;
}
.title{
    margin: 0 auto;
    font-size: 28pt;
    color: white;
}
.profile{
    width: 50px;
}
nav div a{
    text-decoration: none;
    color: white;
    font-size: 18pt;
    transition: all 200ms ease-in-out;
}
nav div a:hover{
    border-bottom: 3px solid #efad4a;
}
nav div > *{
    margin-left: 15px;
    margin-right: 15px;
}
.here{
    border-bottom: 3px solid #efad4a;
}