/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 3:59:19 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    margin: 0 auto;

}

nav {
    background-color: #0679E2;
    height: 85px;
    padding: 0 10%;
    display: flex;
    font-family: Jura;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-options {
    position: relative;
    font-family: 'Poppins';
    font-size: 16px;
}

.logo {
    width: 75px;
}

.title {
    margin: 0 auto;
    font-size: 28pt;
    color: white;
}

.profile {
    width: 50px;
}

nav div a {
    text-decoration: none;
    color: white;
    font-size: 18pt;
    transition: all 200ms ease-in-out;
}

nav div a:hover {
    border-bottom: 3px solid #efad4a;
}

nav div>* {
    margin-left: 15px;
    margin-right: 15px;
}

.here {
    border-bottom: 3px solid #efad4a;
}

.nav-options:hover .dropdown {
    display: block;
}

.dropdown {
    background-color: white;
    top: 100%;
    left: 0;
    position: absolute;
    display: none;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 160px;
}

.dropdown a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropdown a:hover {
    background-color: lightgrey;
}

.dropdown button {
    background: none;
    border: none;
    cursor: pointer;
}

.nav-options:hover .dropdown {
    display: block;
}

.manage {
    color: white;
    cursor: pointer;
}