/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 4:15:46 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

body {
    background-color: #C2D7EA;
    font-family: 'Poppins';
}

main {
    margin: 45px 0 0 0;
}

section {
    display: flex;
    margin: 0 11%;
    justify-content: space-between;
}

.left,
.right {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*****left container*****/
.left {
    width: 220px;
    height: 455px;
    padding: 30px;
}

.account-settings {
    font-size: 20px;
    font-weight: bold;
}

.page-description {
    color: black;
    font-size: 12px;
}

.selected-option {
    display: flex;
    padding: 15px;
    font-size: 12px;
    color: #0679E2;
    background-color: #D4EDFF;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;

}

input[name="logout"] {
    width: 100%;
    display: flex;
    padding: 15px;
    font-size: 12px;
    color: #9B9B9B;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[name="logout"]:hover {
    background-color: #e4e4e4;
}

/*****right container*****/
.right {
    width: 840px;
    height: 455px;
    padding: 30px;
}

.right main {
    display: flex;
}

.right span {
    font-size: 20px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

.option {
    text-decoration: none;
    color: #9B9B9B;
}

/*****personal details / left*****/
.personal-details-left {
    width: 50%;
}

label {
    font-size: 12px;
    font-weight: bold;
}

input{
    padding: 10px;
}

select{
    width: 165px;
    padding: 10px;
}

input[name="fname"],
input[name="lname"]{
    width: 300px;
}

input[name="email"],
input[name="pass"]{
    width: 180px;
}

input[name="update"] {
    background-color: #0679E2;
    color: white;
    width: 120px;
    padding: 10px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

input[name="update"]:hover {
    background-color: #133A84;
}