/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 4:14:58 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");

body {
    margin: 0 auto;
    font-family: 'Poppins';
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #0679E2;
    width: 45%;
    height: 70%;
    padding: 50px 70px;
    border-radius: 15px;
    align-items: center;
}

span {
    font-family: Jura;
    font-size: 36pt;
    font-weight: bold;
    color: white;
}

.container {
    margin-top: 30px;
    display: flex;
}

.left,
.right {
    width: 50%;
}

label {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

input[type=text],
[type=password] {
    color: #6A6A6A;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

select {
    color: #6A6A6A;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.handling-pe-grade-and-section-container {
    display: flex;
}

.handling-pe-grade,
.section {
    width: 40%;
}

/*****buttons*****/
input[type=submit] {
    background-color: #133A84;
    color: white;
    width: 180px;
    margin-top: 40px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    transition: all 400ms ease-in-out;
}

input[type=submit]:hover {
    background-color: #08204c;
    cursor: pointer;
}

p {
    font-size: 14px;
    color: white;
}

a {
    color: white;
    text-decoration: none;
    transition: all 400ms;
}

a:hover {
    text-decoration: underline;
}