/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 13, 2023, 3:59:19 AM
    Author     : fretzen
*/

@import url("https://fonts.googleapis.com/css?family=Jura");
@import url('https://fonts.googleapis.com/css2?family=Poppins');

.content {
    padding: 0 11%;
    margin: 45px auto;
}

.filter {
    background-color: blue;
}

@media print {
    body {
        visibility: hidden;
    }

    .print-container,
    .print-container * {
        visibility: visible;
    }
}


.section-1 {
    background-color: red;
}